div#container{
  background-color: #F0000F;
  /*背景色を赤色に*/
  overflow:hidden;
  
}
div#header{
  background-color: #FF00FF;
  /*背景色をピンク色に*/
  
}
div#navi{
  background-color: #00FF00;
  float:left;
  /*背景色をミドリ色に*/
  
}
div#contents{
  background-color: #FFFF00;
  /*float:right;*/
  /*背景色を黄色に*/
  float:left;
  
}
div#footer{
  background-color: #0000FF;
  /*背景色を青色に*/
  /*overflow:hidden;*/
  
  
}
.clearfix{
  clear:both;
}
